<div class="mb-3">
  <small class="text-muted">
    Showing {{ issues.length }} from {{ totalIssues }} issues
  </small>
</div>
<div *ngFor="let issue of issues | paginate: { itemsPerPage: issuesPerPage, currentPage: page }">
  <nav class="navbar navbar-light mb-4 bg-light border">
    <div class="row">
      <div class="col-sm-2">
        <span class="badge badge-success" *ngIf="issue.state == 'open'">Open</span>
        <span class="badge badge-warning" *ngIf="issue.state == 'closed'">Closed</span>
      </div>
      <div class="col-sm-8">
        <span>
          <h4><a href="{{ issue.url }}" class="pull-left issue-title" data-toggle="tooltip" data-placement="right" title="{{ issue.title }}">{{ (issue.title.length>40)? (issue.title | slice:0:40)+'..':(issue.title) }}</a></h4>
        </span>
        <div><small class="text-muted" id="updated-at">Last updated: {{ issue.updatedAt | date }}</small></div>
      </div>
      <div class="col-sm-2">
        <a href="{{ issue.userUrl }}"><img src="{{ issue.userAvatarUrl }}" class="issue-user-avatar"></a>
        <small class="text-muted" id="user-login-name">{{ issue.userLogin }}</small>
      </div>
    </div>
  </nav>
</div>

<div class="my-4">
  <button type="button" *ngIf="showMoreResults()" class="btn btn-lg btn-block issue-load-more" id="load-more-issues" (click)="getIssues()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M9 12h2l-3 3-3-3h2V7h2v5zm3-8c0-.44-.91-3-4.5-3C5.08 1 3 2.92 3 5 1.02 5 0 6.52 0 8c0 1.53 1 3 3 3h3V9.7H3C1.38 9.7 1.3 8.28 1.3 8c0-.17.05-1.7 1.7-1.7h1.3V5c0-1.39 1.56-2.7 3.2-2.7 2.55 0 3.13 1.55 3.2 1.8v1.2H12c.81 0 2.7.22 2.7 2.2 0 2.09-2.25 2.2-2.7 2.2h-2V11h2c2.08 0 4-1.16 4-3.5C16 5.06 14.08 4 12 4z"/>
    </svg>
    Load more issues
  </button>
</div>

<div *ngIf="issues && issues.length > 0">
  <pagination-controls (pageChange)="page = $event" autoHide="true" maxSize="10"></pagination-controls>
</div>
