<div class="input-group">
  <input class="form-control py-2" type="search" [(ngModel)]="repositoryName" id="search-input">
  <span class="input-group">
    <button class="btn btn-outline-secondary" type="button" (click)="getBasicInfo()">
        <i class="fa fa-search"></i>
    </button>
  </span>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <h5>URL: </h5>
    </div>
    <div class="col-md-8">
      <div *ngIf="basicInfo">{{ basicInfo.url }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h5>Description: </h5>
    </div>
    <div class="col-md-8">
      <div *ngIf="basicInfo">{{ basicInfo.description }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h5>Forks: </h5>
    </div>
    <div class="col-md-8">
      <div *ngIf="basicInfo">{{ basicInfo.forks }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h5>Stargazers: </h5>
    </div>
    <div class="col-md-8">
      <div *ngIf="basicInfo">{{ basicInfo.stargazers }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h5>Open issues: </h5>
    </div>
    <div class="col-md-8">
      <div *ngIf="basicInfo">{{ basicInfo.openIssues }}</div>
    </div>
    </div>
  </div>
